body {
  margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height:100%
}


/* product view carousel image sizing */
.carousel .slide img {
  height: 31.25rem;
}